$RECYCLE.BIN/
*.cab
*.icloud
*.lnk
*.log
*.msi
*.msix
*.msp
*.msp
*.stackdump
*.trace
*~
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.DocumentRevisions-V100
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trash-*
.Trashes
.VolumeIcon.icns
._*
.apdisk
.cache
.claude/cache/
.claude/settings.local.json
.com.apple.timemachine.donotpresent
.directory
.env
.env.*.local
.env.local
.fseventsd
.fuse_hidden*
.nfs*
.results
.tanstack
.turbo
.wrangler
Icon
Network Trash Folder
Temporary Items
Thumbs.db
Thumbs.db:encryptable
[Dd]esktop.ini
build
coverage
dist
ehthumbs.db
ehthumbs_vista.db
functions/[[path]].js
functions/[[path]].js.map
infra/environment.yaml
infra/graph.dot
node_modules
public/build
